[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/leonwu327
[access "refs/for/refs/*"]
	read = group user/leonwu327
	push = group user/leonwu327
	label-Code-Review = -2..+2 group user/leonwu327
	label-Verified = -1..+1 group user/leonwu327
	rebase = group user/leonwu327
	removeReviewer = group user/leonwu327
	submit = group user/leonwu327
[access "refs/heads/*"]
	read = group user/leonwu327
	create = group user/leonwu327
	push = +force group user/leonwu327
	pushMerge = group user/leonwu327
[access "refs/tags/*"]
	push = group user/leonwu327
	push = +force group user/leonwu327
